:root{
    --dark-color: #493D9E;
    --semi-color: #B2A5FF;
    --light-color: #DAD2FF;
}
*{
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    z-index: 1000;
    background: #A64BA0;
    background: linear-gradient(360deg, rgba(166, 75, 160, 1) 0%, rgba(118, 44, 191, 1) 30%, rgba(99, 33, 191, 1) 100%);

}
.dark-back{
    background-color: #A294F9;
}
.but-back{
    background-color: var(--light-color) !important;
}
.back{
    background: var(--semi-color);
}
/* nav style kinda  */

.body-back{
    background-image: url('../images/aragonai-6761d9ad-cbd8-44cb-889b-94679a9563d7.jpeg');
    background-size: cover;
    min-height: 100vh;
}

.part-1{
    padding-top: 10vh;
}

.url{
    word-break: break-all;
}

.but{
    display: inline-block;
    padding: 8px 16px;
    background-color: #A294F9;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    text-align: center;
    margin-bottom: 20px;
}
.but:hover{
    background-color: #CDC1FF;
    color: black;
}